.people-list {
  width: 100%;
  max-height: 300px; /* Ajusta el tamaño del contenedor */
  margin-top: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 10px;
  overflow: hidden; /* Previene el desbordamiento, usaremos el scroll */
}

.scrollable-list {
  max-height: 200px; /* Asegura que la lista sea scrollable */
  overflow-y: auto; /* Activa el scroll vertical */
}

.scrollable-list ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.scrollable-list li {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

/* Otros estilos */
.btn.secondary-btn {
  background-color: #8b8b8b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
